/* CSS */
.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.modal-content {
  background-color: #ffffff;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 70%; /* Adjusted width for responsiveness */
  max-width: 500px; /* Max width for larger screens */
  box-shadow: 1px 1px 5px 2px rgb(255, 255, 255);
  border: none;
}

.close {
  color: #000000;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(123, 122, 122);
  text-decoration: none;
  cursor: pointer;
}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
  .modal-content {
    width: 90%; /* Adjusted width for smaller screens */
  }
}
