/* Styles for desktop */
.about {
  height: 90vh;
  background: rgb(2, 0, 39);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 39, 1) 0%,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 1%,
    rgba(3, 96, 115, 1) 100%
  );
  display: flex;
  justify-content: center;
  color: white;
  flex-direction: row;
  justify-content: space-between;
}

.text {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin-left: 10%;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.aboutitem {
  padding: 10px;
}

.head {
  font-size: 450%;
}

.smallinfo {
  font-size: 180%;
}

.imageone {
  width: 580px;
  height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12%;
  margin-top: 8%;
  background-color: rgb(115, 157, 247);
  box-shadow: 2px 2px 20px 2px rgb(0, 110, 255);
  border-radius: 10px;
}

.main_img {
  width: 550px;
}

/* Media query for mobile devices (480px) */
@media only screen and (max-width: 480px) {
  .about {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 20px;
  }

  .text {
    width: 80%;
    margin-left: 0;
    margin-top: 20px;
  }

  .imageone {
    width: 80%;
    height: auto;
    margin-right: 0;
    margin-top: 20px;
  }

  .main_img {
    width: 100%; /* Adjust to fit the container */
    height: auto;
  }
}
